.close-button {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  color: gray;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.entity-instantiation-card {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.cycle-selection-open {
  display: flex;
  flex-grow: 1;
  cursor: pointer;
  gap: 10px;
}

.cycle-selection-open-icon {
  margin: -3px;
  transition: transform 150ms linear;

  &.open {
    transform: rotate(-180deg) !important;
  }
}

.cycle-selection-collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 350ms linear;

  &.open {
    max-height: 100vh;
  }
}

.entity-input {
  --mat-sys-surface-variant: #fff;
  --mdc-filled-text-field-container-shape: 0;
}

.mdc-line-ripple,
.mdc-line-ripple::after,
.mdc-line-ripple::before,
.mat-form-field-underline {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
