<div class="modal-container pa-2">
  <div class="d-flex align-center">
    <span mat-dialog-title class="flex-grow">Iniciar novas Entidades</span>
    <span
      mat-dialog-title
      mat-button
      class="close-button"
      color="secondary"
      (click)="closeDialog()"
    >
      X
    </span>
  </div>

  <mat-dialog-content>
    <mat-card class="entity-instantiation-card pa-3">
      <div>
        <h2 mat-card-title class="pl-3 pb-3">Entidades à inciar</h2>
        <mat-card-content
          >Após o início, os eventos serão disponibilizados para execução nos
          dias que estão definidos em seus ciclos.</mat-card-content
        >
      </div>
      <div>
        ejdiejdijedjejidjiej
      </div>
    </mat-card>
  </mat-dialog-content>
</div>
