<div class="modal-container pa-2">
  <div mat-dialog-title class="d-flex align-center">
    <span class="flex-grow">Iniciar novas Entidades</span>
    <mat-icon class="close-button" (click)="closeDialog()">close</mat-icon>
  </div>

  <mat-dialog-content class="dialog-content">
    <mat-card class="entity-instantiation-card pa-3" appearance="outlined">
      <div>
        <mat-card-header>
          <mat-card-title>Entidades à inciar</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Após o início, os eventos serão disponibilizados para execução nos
            dias que estão definidos em seus ciclos.
          </p>
        </mat-card-content>
      </div>

      <div>
        <mat-card-content>
          Após o início, os eventos serão disponibilizados para execução nos
          dias que estão definidos em seus ciclos.
        </mat-card-content>
      </div>
    </mat-card>

    <mat-divider></mat-divider>

    <div>
      <div>
        <div (click)="toggleCycleSelection()" class="cycle-selection-open">
          <span
            >Selecione ciclos
            <span style="color: var(--mat-sys-outline)">(opcional)</span></span
          >
          <mat-icon
            [class.open]="cycleSelectionOpen()"
            class="cycle-selection-open-icon"
            >arrow_drop_down</mat-icon
          >
        </div>
      </div>

      <div
        class="cycle-selection-collapsible"
        [class.open]="cycleSelectionOpen()"
      >
        <p>
          Por padrão as entidades são selecionadas automaticamente de acordo com
          os ciclos que você participa e suas prioridades
        </p>

        <cycle-selection-table
          [cycles]="data.cycles"
          (onSelectedCyclesUpdate)="onSelectedCyclesUpdate($event)"
        ></cycle-selection-table>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div>
      <events-projection-chart
        [eventsProjection]="eventsProjections()"
      ></events-projection-chart>
    </div>
  </mat-dialog-content>
</div>
