div.name-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  .mat-icon {
    transform: scale(0.82);
  }

  &[data-priority="HIGH"] .mat-icon {
    color: #ff5852;
  }

  &[data-priority="MEDIUM"] .mat-icon {
    color: #ffb025;
  }

  &[data-priority="LOW"] .mat-icon {
    color: #66c88e;
  }
}

table {
  box-sizing: content-box;
  border-spacing: 1px !important;
  background: transparent !important;
}

table thead, table tbody {
  width: 100% !important;
}

th {
  border: 0 !important;
}

tbody {
  box-shadow: 0 0 0 1px var(--color-gray) !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

tr:has(.mat-column-info) {
  font-weight: normal !important;
  background-color: var(--color-gray-lighter);
  box-shadow: 0 0 0 1px var(--color-gray);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
