<table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <div class="name-row" [attr.data-priority]="element.priority">
        <mat-checkbox
          [checked]="selectedCycles().includes(element)"
          (change)="onCycleChange($event, element)"
        ></mat-checkbox>

        @if (element.priority === 'LOW') {
        <mat-icon>arrow_downward</mat-icon>
        } @else {
        <mat-icon>arrow_upward</mat-icon>
        }
        {{ element.name }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="availableEntities">
    <th mat-header-cell *matHeaderCellDef>Selecionados/Disponíveis</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      {{ element.entities
      }}<span style="color: var(--color-gray)"
        >/{{ element.availableEntities }}</span
      >
    </td>
  </ng-container>

  <ng-container matColumnDef="availableToday">
    <th mat-header-cell *matHeaderCellDef>Eventos para hoje</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      {{ element.availableToday }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
