@use "@angular/material" as mat;
@use "./helpers.scss";

:root {
  --mat-sys-primary: #00732f;
  --mat-sys-secondary: #8eae00;
  --mat-sys-error: #ff5852;
  --color-info: #26b2d0;
  --color-warn: #fea317;
  --color-gray: #a6a8a7;

  --mdc-dialog-container-shape: 0px 0px 0px 0px;
  --mat-dialog-container-max-width: 960px;

  @include mat.card-overrides(
    (
      outlined-outline-color: #f5f5f5,
      outlined-container-color: #f5f5f5,
      outlined-container-shape: 5px 5px 5px 5px,
      title-text-weight: 600,
    )
  );

  @include mat.divider-overrides(
    (
      color: #dddddd,
    )
  );
}

html,
body {
  height: 100%;
}

html {
  color-scheme: light;
  //@include mat.theme(());
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table td {
  align-items: center;
}
